/*Supergiant Games 
*GPL, Christian Ashley 2016
*/

/*General Styles*/
* {
	font-family: 'Helvetica', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

html{
	min-height: 100%;
	position: relative;
}

body{
	
}

header {
	height: 37px;
	background-color: #ff0;
	text-align: left;
}

.page-content {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

.side-nav {
	width: 250px;
	height: 100%;
	background-color: #f00;
}

.logo {
	width: 100%;
	height: 250px;
	background-color: #f0f;
}

.overview {
	margin: 15px;
	background-color: #0f0;
	text-align: center;
}

.overview > p {
	text-align: left;
	padding-left: 2px;
	padding-right: 2px;
}

footer {
	position: absolute;
	width: 250px;
	background-color: #00f;
	text-align:left;
	bottom: 10px;
}

.content-block {
	position: absolute;
	width: calc(80% - 250px);
	top: 37px;
	left: calc(10% + 250px);
	height:calc(100% - 37px); /*100% - header.height*/
	background-color: #0ff;
	overflow-y: scroll;
	padding: 0px;
}

.inner-content-block {
	height: 2000px;
	margin: 3px;
	background-color: #f00;
}
